.container-page {
    display: flex;
  }
  .divisor {
    background-color:black;
    width: 10px;
    height: 100vh;
  }
  .page-left, .page-right {
    width: calc(50% - 5px);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }
  .risultato {
    margin-top: 2%;
    font-size: 24px;
    font-weight: bold;
  }